.aa {
    padding-left: 15%;
}

.bb>:hover {
    font-style: italic;
}
.khung{
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    padding-left: 5%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background-color: rgb(241, 240, 240);
}
.noidung{
    width: 100%;
    height: fit-content;
}
.input{
    text-align: center;
    padding: 20px;
    padding-left: 0px;
}
.gui{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    border: 1px black solid;
    border-radius: 5px;
    background-color: black;
}
.s-text {
    font-size: medium;
    padding: 15px;
}
.footer {
    width: 100%;
    height: fit-content;
    background-color: black;
    color: white;
    padding-bottom: 15px;
}

.logo2 {
    margin: 50px 50px;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

.lienhe {
    margin-left: 150px;
}

@media screen and (max-width: 990px) {
    .footer {
        text-align: center;
    }
    .lienhe {
        margin: 0px;
    }
    .logo2{
        font-size: 30px;
    }
    .s-text{
        font-size: small;
    }

}